.tooltip__close {
    background: url(../../../images/popup__close-icon.svg);
    background-size: cover;
    border: none;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    top: -40px;
  }
  
  .tooltip__close:hover {
    opacity: .6;
    cursor: pointer;
  }
  
  
  @media screen and (max-width: 767px) {
    .tooltip__close {
      right: 0;
      top: -36px;
      width: 20px;
      height: 20px;
    }
  }