.identity__button {
  margin-top: 216px;
  min-height: 50px;
  min-width: 358px;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 18px;
  border: none;
}  
  
@media screen and (max-width: 767px) {
  .identity__button {
    margin-top: 173px;
    min-height: 48px;
    min-width: 260px;
    font-size: 16px;
  }
}