.header__menu {
    background: url(../../../images/header__menu.svg) no-repeat center;
    min-width: 24px;
    height: 24px;
    display: none;
    border: none;
}

.header__menu:hover {
    opacity: .6;
    transition: .5s;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .header__menu {
        display: block;
    }
  };