.identity__form-title {
  margin: 60px auto 20px;
  padding: 0;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
}
  
@media screen and (max-width: 767px) {
  .identity__form-title {
    margin: 40px auto 10px;
    font-size: 20px;
  }
}