.profile__info {
  display: grid;
  width: 100%;
  grid-template-columns: fit-content(calc(100% - 42px)) 24px;
  gap: 16px 18px;
  align-items: end;
}


@media screen and (max-width: 1069px) {
  .profile__info {
    gap: 14px 10px;
    justify-content: center;
  }
}
