.header__button {
    max-width: 56px;
    color: #A9A9A9;
    background-color: #000000;
    font-weight: 400;
    font-size: 18px;
    margin-left: 24px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.header__button:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .header__button {
        display: none;
    }
  };