.identity__link {
  color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 80px;
  font-size: 14px;
  line-height: 1.21;
  text-decoration: none;
  visibility: hidden;
  opacity: 0;
}

.identity__link_type_visibled { 
  visibility: visible;
  opacity: 1;
} 

@media screen and (max-width: 767px) {
  .identity__link {
    margin: 20px 30px 40px;
  }
}